*.pyc*.log
*.pot
*.pyc
__pycache__/
local_settings.py
recipes/migrations/
products/migrations/
pages/migrations/
accounts/migrations/
accounts/__init__.py
contacts/migrations/
contacts/__init__.py
my_test/migrations/
my_test/__init__.py