<table>
    <caption>Przepisy</caption>
    <thead><tr>
        <th>id</th>
        <th>Nazwa</th>
        <th>Kategoria</th>
        <th>Autor</th>
        <th>Data dodania</th>
        <th>Zdjęcie </th>
    </tr></thead>
    <tbody>
    
    {% if recipes %}
        {% for recipe in recipes %}
            <tr>

            <td><a href="{% url 'recipe' recipe.id %}"> {{ recipe.id }} </a></td>
            <td><a href="{% url 'recipe' recipe.id %}"> {{ recipe.name }} </a></td>
            <td>{{ recipe.category }}</td>
            <td>{{ recipe.author }}</td>
            <td>{{ recipe.recipe_date }}</td>
            <td>
            {% if recipe.photo_main %}
            <img src="{{ recipe.photo_main.url }}" alt="" width="50" height="50"/>
            {% endif %}
            </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
        <td>Dane niedostępne</td>
        </tr>
    {% endif %}

    </tbody>
        
    

</table>