{% extends 'base.html' %}
{% block title %} | Panel Użytkownika {% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% include 'partials/_alerts.html' %}
<section id="showcase-inner" class="py-5">
    <div class="container">
        <div class="row text-center">
        <div class="col-md-12">
            <h1 class="display-4">User Dashboard</h1>
            <p class="lead">Zarządzaj swoim DietApp kontem</p>
        </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background: none">
            <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item active"> Dashboard</li>
        </ol>
        </nav>
    </div>
</section>

<section id="dashboard" class="py-4">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h2>Witaj {{ user.first_name }}</h2>
            {% if contact %}
                <p>Wiadmość:</p>
                <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Nr {{ contact.id }}</th>
                    <th scope="col">Temat: {{ contact.subject }}</th>
                    <th scope="col">Data: {{ contact.contact_date }}</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                    <td><strong>Wiadomość:</strong></td>
                    <td>{{ contact.message }}</td>
                    <td>
                        <a class="btn btn-light" style="background-color: #91a33b"  href="{% url 'dashboard' %}">Powrót</a>
                    </td>
                    </tr>
                    
                </tbody>
                </table>
            {% else %}
                <p>Błąd</p>
            {% endif %}
        </div>
        </div>
    </div>
</section>

{% else %}

<h1>Ta część wymaga zalogowania</h1>

{% endif %}

{% endblock %}