{% extends "base.html" %} 
{% load static %}

{% block title %} | BMI {% endblock %}

{%  block content %}
<main>		
	<section class="home" style="text-align: left;">			
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inquiryModalLabel">Kalculator BMI</h5>
            </div>
            
                <div class="modal-body">
                    <form action="#" method="get">
                        <div class="col-md-3 mb-3">
                            <legend><strong>Twoje wartości</strong></legend>
                            <label for="weight"  class="col-form-label"> Waga [kg]: </label>
                            <input type="number" name="weight" id="weight"  class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="height"  class="col-form-label">Wzrost [cm]: </label>
                            <input type="number" name="height" id="height"  class="form-control">
                        </div>
                        <div class="col-md-3 mb-3">
                            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="bmi()"> Oblicz BMI </button>
                        </div>
                    </form>
                </div>
            
            
                <div class="modal-body">
                    <div class="col-md-3 mb-3">
                        <legend ><strong>Wyniki</strong></legend>
                        <table class="table">
                            <tr>
                                <th>Wynik BMI:</th>
                                <th><div class="display-4" id="bmi_result"></div></th>
                            </tr>
                            <tr>
                                <th>Oznacza on:</th>
                                <th><div class="display-4" id="comment"></div></th>
                            </tr>
                        </table>
                    </div>
                </div>
            
        </div>
    </section>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    
</main>   

<script src="{% static 'js/bmi_calc.js' %}"></script> 

{% endblock %}