{% extends "base.html" %} 

{% block title %} | Kontakt {% endblock %}

{%  block content %}

<main>		
	<section class="home">			
		<div class="container">				
			<header>					
					<h1>Kontakt</h1>
      </header>
        <!-- Inquiry Modal -->
      {% include 'partials/_alerts.html' %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Skontaktuj się ze mną</h5>
        </div>
        <div class="modal-body">
          <form action="{% url 'contact' %}" method="POST">
              {% csrf_token %}
              {% if user.is_authenticated %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
              {% else %}
                <input type="hidden" name="user_id" value="0">
              {% endif %}
            <div class="form-group">
              <label for="subject" class="col-form-label">Temat: </label>
              <input type="text" name="subject" class="form-control">
            </div>
            <div class="form-group">
              <label for="name" class="col-form-label">Autor:</label>
              <input type="text" name="name" class="form-control" 
              {% if user.is_authenticated %} value="{{ user.first_name }} {{ user.last_name }}"{% endif %} required>
            </div>
            <div class="form-group">
              <label for="email" class="col-form-label">Email:</label>
              <input type="email" name="email" class="form-control" 
              {% if user.is_authenticated %} value="{{ user.email }}"{% endif %} required>
            </div>
            <div class="form-group">
              <label for="phone" class="col-form-label">Telefon:</label>
              <input type="text" name="phone" class="form-control">
            </div>
            <div class="form-group">
              <label for="message" class="col-form-label">Wiadomość:</label>
              <textarea rows="10" name="message" class="form-control"></textarea>
            </div>
            <hr>
            <input type="submit" value="Wyślij" class="btn btn-block btn-secondary">
          </form>
        </div>
      </div>

		</div>
		<div>
			<form action="{% url 'contact' %}" method="POST">
				{% csrf_token %}
				{% if user.is_authenticated %}
					<input type="hidden" name="user_id" value="{{ user.id }}">
				{% else %}
					<input type="hidden" name="user_id" value="0">
				{% endif %}
			</form>
		</div>
  </section>	
 
</main>



{% endblock %}

 