
{% extends "base.html" %} 
{% load static %}


{%  block content %}

<main>
    <!-- <section class="home">			
        <div class="container">	

                <div class="col-sm-6">
                        <label class="sr-only">
                            <select name="kcal" class="form-control">
                                <option selected="true" disabled="disabled"Pełen przedział kcal></option>
                                {% for key, value in product_kcal_choices.items %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>

        </div>
    </section> -->

    <section id="showcase">
            <div class="container text-center">
              <div class="home-search p-5" style="padding-bottom: 1rem !important; ">
                <div class="overlay p-5"  style="padding: 2rem !important;">
                  <h1 class="display-4 mb-4" style="font-size: 2rem;">
                        Darmowa aplikacja do komponowania indywidualnej diety
                  </h1>
                  <div class="search">
                    <form action="{% url 'search' %}">
                      <!-- Form Row 1 -->
                      <div class="form-row">
                        <div class="col-md-4 mb-3">
                          <label class="sr-only">Produkt, przepis</label>
                          <input type="text" name="keywords" class="form-control" placeholder="Produkt, przepis">
                        </div>
        
                        <div class="col-md-4 mb-3">
                          <label class="sr-only">Kategoria produktu</label>
                          <input type="text" name="category" class="form-control" placeholder="Kategoria produktu">
                        </div>
        
                        <div class="col-md-4 mb-3">
                          <label class="sr-only">Kat. produktu</label>
                          <select name="category" class="form-control">
                            <option selected="true" disabled="disabled">Kat. produktu</option>
                            <!-- {% for key,value in products.category.items %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %} -->
                          </select>
                        </div>
                      </div>
                      <!-- Form Row 2 -->
                      <div class="form-row">
                        <div class="col-md-6 mb-3">
                          <label class="sr-only">Bedrooms</label>
                          <select name="kcal" class="form-control">

                            <option selected="true" disabled="disabled">Kaloryczność produktu</option>
                            {% for key,value in product_kcal_choices.items %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}

                          </select>
                        </div>
                        <div class="col-md-6 mb-3">
                          <select name="protein" class="form-control" id="type">
                            <option selected="true" disabled="disabled">Produkty białkowe</option>

                            {% for key,value in product_protein_choices.items %}
                                <option value="{{ key }}">{{ value }}</option>
                            {% endfor %}

                          </select>
                        </div>
                      </div>
                      <button class="btn btn-secondary btn-block mt-4" type="submit" style="margin-top: 0 !important; ">Submit form</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
    
    <section class="home">			
        <div class="container">		
        
            <header >					
                <p>Innowacyjny kalkulator dietetyczny oraz możliwość tworzenia w 100% własnej bazy</p>
            </header>	


            
            <div class="row "> <!-- <div class="row no-gutters"> - bez odstępów między zdjęciami (bez "rowków")-->					
                <div class="col-sm-6">	
                    <figure>
                        <img src="{% static 'img/base.png' %}" class="img-fluid" alt="Database" >
                        <figcaption></figcaption>
                    </figure>					
                </div>
                
                <div class="col-sm-6">					
                    <p class="recipe">
                        Jadłospis nad którym masz pełną kontrolę i którą możesz dowolnie modyfikować
                    </p>					
                </div>
                
                <div class="col-sm-6">					
                    <p class="recipe">						
                        Innowacyjny kalkulator poznawalący Ci skomponować idealną dietę i mieć nad nią kontrolę						
                    </p>					
                </div>

                <div class="col-sm-6">					
                    <figure>
                        <img src="{% static 'img/calculator.jpg' %}" class="img-fluid" alt="calculator">
                    </figure>					
                </div>			
                
            </div>											
        </div>						
    </section>		
</main>

{% endblock %}