{% extends "base.html" %} 
{% load static %}
{% load humanize %}
{% block title %} | Szukaj Przepisu {% endblock %}

{%  block content %}

<main>
  
    <div class="">
      
 <!-- Recipes search -->
 {% include 'partials/_search1.html' %}

    </div>
    <br/>
    <a href="{% url 'recipe_form' %}" >
        <img class="" src="{% static 'img/ADD.png' %}" alt="" width="100" height="100"/>
    </a>
	<section class="home">			
		<div class="container">				
			<section style="color: black; font-size: 80%;">
        
<!-- Tabela przepisów -->
{% include 'partials/_table_recipes.html' %}  

            </section>
        </div>
    </section>
</main>    
{% endblock %}