{% extends "base.html" %} 
{% load humanize %}
{% block title %} | Szukaj Produkt {% endblock %}

{%  block content %}
<header style="text-align: center;">
<h1>Wyszukiwarka produktów</h1>
</header>
<main>
        <div class="">


 <!-- Products search -->
 {% include 'partials/_search2.html' %}

            </div>	
            <br/>	
	<section class="home">			
		<div class="container">				
			<section style="color: black; font-size: 80%;">

<!-- Tabela produktów -->
{% include 'partials/_table_products.html' %}  




            </section>
        </div>
    </section>
</main>    
{% endblock %}