{% extends "base.html" %} 
{% load humanize %}
{% block title %} | Szukaj Przepisu {% endblock %}

{%  block content %}

<main>
  
    <div class="">
      
 <!-- Recipes search -->
 {% include 'partials/_search1.html' %}

    </div>
    <br/>
    <h4><strong><u><a href="{% url 'recipe_form' %}" >Dodaj nowy +</a></u></strong></h4>
	<section class="home">			
		<div class="container">				
			<section style="color: black; font-size: 80%;">
        
<!-- Tabela przepisów -->
{% include 'partials/_table_recipes.html' %}  

            </section>
        </div>
    </section>
</main>    
{% endblock %}