{% extends "base.html" %} 
{% load humanize %}
{% block title %} | Legenda Produktów {% endblock %}

{%  block content %}
{% include 'partials/_alerts.html' %}
<header style="text-align: center;">
<h1>Znajdź indeks</h1>
</header>
<main>
        <div class="">
                <div class="container text-center">
                  <div class="home-search p-5" style="padding: 0rem !important; ">
                    <div class="overlay p-5"  style="padding: 0rem !important;">
                      <h1 class="display-4 mb-4" style="font-size: 1.5rem;">
                            
                      </h1>
                      <div class="search">
                        <form action="{% url 'legend' %}">
                          <!-- Form Row 1 -->
                          <div class="">
                            <div class="">
                              <label class="sr-only">Produkt</label>
                              <input type="text" name="keywords" class="form-control" placeholder="Produkt"
                              value="{{ values.keywords }}">
                            </div>
            
                            
                          </div>
                          <button class="btn btn-secondary btn-block mt-4" type="submit" style="margin-top: 0 !important; ">Szukaj</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </div>	
            <br/>	
	<section class="home">			
		<div class="container">				
			<section style="color: black; font-size: 80%;">
<table>
    <caption>Produkty</caption>
    <thead><tr>
        <th>index</th>
        <th>Produkt</th>
        <th>Kaloryczność</th>
    </tr></thead>
    <tbody>
    
    {% if products %}
        {% for product in products %}
            <tr>

            <td style="font-size: 1rem"><a href="{% url 'product' product.id %}"> <strong>{{ product.id }}</strong> </a></td>
            <td><a href="{% url 'product' product.id %}"> {{ product.product }} </a></td>
            <td>{{ product.kcal }}</td>

            </tr>
        {% endfor %}
    {% else %}
            <h6>Brakuje produktu?</h6>
      <h4><strong><u><a href="{% url 'product_form' %}" >Dodaj nowy +</a></u></strong></h4>
    {% endif %}

    </tbody>
        
    

</table>   

     


            </section>
        </div>
    </section>
</main>    
{% endblock %}