{% extends "base.html" %} 
{% load humanize %}

{%  block content %}
<main>		
	<section class="home">			
		<div class="container">				
			<header>					
					<h1>Wybrany produkt</h1>
            </header>

            <!-- {% if product %} -->
                <div style="color: black; font-size: 125%; text-align: left;">
                    <section >
                        <strong>id:</strong> {{ product.id }}<br/>
                        <strong>Produkt:</strong> {{ product.product }}<br/>
                        <strong>Kaloryczność:</strong> {{ product.kcal }}<br/>
                        <strong>Białko:</strong> {{ product.protein }}<br/>
                        <strong>Tłuszcz:</strong> {{ product.fat }}<br/>
                        <strong>Węglowodany:</strong> {{ product.carbo }}<br/>
                        <strong>Błonnik:</strong> {{ product.fibre }}<br/>
                        <strong>Kategoria:</strong> {{ product.category }}<br/>
                        <strong>Data dodania:</strong> {{ product.product_date }}<br/>
                        <strong>Zdjęcie:</strong> <img class="" src="{{ product.photo_main.url }}" alt="" width="150" height="150"/><br/>
                        
                    </section>
                </div>

            <!-- {% else %} -->
                <h1>No Products Available</h1>
            <!-- {% endif %} -->
            
        </div>
    </section>
</main>   


{% endblock %}