{% extends "base.html" %} 
{% load humanize %}
{% block title %} | Produkty {% endblock %}

{%  block content %}

<main>
  <div class="">

<!-- Wyszukiwarka produktów -->
{% include 'partials/_search2.html' %}

  </div>
  <br/>
<main>

	<section class="home">			
		<div class="container">				
			<section style="color: black; font-size: 80%;">
<!-- Tabela produktów -->
{% include 'partials/_table_products.html' %}

      <!--Funkcjonalność związana z PAGINATION przewijanie do strony wcześniejszej lub następnej-->
      <div class="row">
        <div class="col-md-12">
          {% if products.has_other_pages %}
            <ul class="pagination">
              <!--Jeśli możliwa jest wcześniejsza strona, to przycisk strzałeczki w tył możliwy
              jeśli nie ma, to trzałeczka dezaktywowana-->
              {% if products.has_previous %}
                <li class="page-item">
                  <a href="?page={{products.previous_page_number}}"  class="page-link">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disable">
                  <a class="page-link">&laquo;</a>
                </li>
              {% endif %}
              {% if products.has_next %}
                <li class="page-item">
                  <a href="?page={{products.next_page_number}}"  class="page-link">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disable">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
              <!-- ??????????????????????-->              
              {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
                {% endif %}
              {% endfor %}
          {% endif %}

        </div>
      </div>


            </section>
        </div>
    </section>
</main>    
{% endblock %}