{% extends "base.html" %} 
{% load humanize %}
{% block title %} | {{ recipe.name }} {% endblock %}
{%  block content %}
<main>		
	<section class="home">			
		<div class="container">				
			<header>					
					<h1>Wybrany przepis</h1>
            </header>

            {% if recipe %}
                <div style="color: black; font-size: 125%; text-align: left;">
                    <section >
                        <strong>id:</strong> {{ recipe.id }}<br/>
                        <strong>Nazwa:</strong> {{ recipe.name }}<br/>
                        <strong>Kategoria:</strong> {{ recipe.category }}<br/>
                        <strong>Autor:</strong> {{ recipe.author }}<br/>
                        <strong>Przepis:</strong> {{ recipe.description }}<br/>
                        <strong>Składnik 1:</strong> {{ recipe.product_1 }}<br/>
                        <strong>Ilość 1:</strong> {{ recipe.ingredient_1 }} gramów<br/>
                        {% if recipe.product_2 %}
                        <strong>Składnik 2:</strong> {{ recipe.product_2 }}<br/>
                        <strong>Ilość 2:</strong> {{ recipe.ingredient_2 }} gramów<br/>
                        {% endif %}
                        {% if recipe.product_3 %}
                        <strong>Składnik 3:</strong> {{ recipe.product_3 }}<br/>
                        <strong>Ilość 3:</strong> {{ recipe.ingredient_3 }} gramów<br/>
                        {% endif %}
                        {% if recipe.product_4 %}
                        <strong>Składnik 4:</strong> {{ recipe.product_4 }}<br/>
                        <strong>Ilość 4:</strong> {{ recipe.ingredient_4 }} gramów<br/>
                        {% endif %}
                        {% if recipe.product_5 %}
                        <strong>Składnik 5:</strong> {{ recipe.product_5 }}<br/>
                        <strong>Ilość 5:</strong> {{ recipe.ingredient_5 }} gramów<br/>
                        {% endif %}
                        {% if recipe.product_6 %}
                        <strong>Składnik 6:</strong> {{ recipe.product_6 }}<br/>
                        <strong>Ilość 6:</strong> {{ recipe.ingredient_6 }} gramów<br/>
                        {% endif %}
                        
                        <strong>Data dodania:</strong> {{ recipe.recipe_date }}<br/>
                        {% if recipe.photo_main %}
                        <strong>Zdjęcie: <img class="" src="{{ recipe.photo_main.url }}" alt="" width="150" height="150"/><br/>
                        {% endif %}
                    </section>
                </div>

            {% else %}
                <h1>No Recipes Available</h1>
            {% endif %}
            
        </div>
    </section>
</main>   


{% endblock %}