{% extends "base.html" %} 
{% load humanize %}
{% block title %} | Przepisy {% endblock %}

{%  block content %}
{% include 'partials/_alerts.html' %}
<main>
    <div class="">
  
  <!-- Wyszukiwarka przepisów -->
  {% include 'partials/_search1.html' %}
  
    </div>
    <br/>
  </main>

<h4><strong><u><a href="{% url 'recipe_form' %}" >Dodaj nowy +</a></u></strong></h4>
<main>		
	<section class="home">			
		<div class="container">				
			<section style="color: black; font-size: 80%;">

<!-- Tabela przepisów -->
{% include 'partials/_table_recipes.html' %}   

      <!--Funkcjonalność związana z PAGINATION przewijanie do strony wcześniejszej lub następnej-->
      <div class="row">
        <div class="col-md-12">
          {% if recipes.has_other_pages %}
            <ul class="pagination">
              <!--Jeśli możliwa jest wcześniejsza strona, to przycisk strzałeczki w tył możliwy
              jeśli nie ma, to trzałeczka dezaktywowana-->
              {% if recipes.has_previous %}
                <li class="page-item">
                  <a href="?page={{recipes.previous_page_number}}"  class="page-link">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disable">
                  <a class="page-link">&laquo;</a>
                </li>
              {% endif %}
              {% if recipes.has_next %}
                <li class="page-item">
                  <a href="?page={{recipes.next_page_number}}"  class="page-link">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disable">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}            
              <!-- ??????????????????????-->              
              {% for i in recipes.paginator.page_range %}
                {% if recipes.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
                {% endif %}
              {% endfor %}
          {% endif %}

        </div>
      </div>


            </section>
        </div>
    </section>
</main>    
{% endblock %}