{% extends "base.html" %} 

{% block title %} | Nowy Przepis {% endblock %}
{%  block content %}
{% include 'partials/_alerts.html' %}

<main>		
	<section class="home">			
		<div class="container">				
			<header>					
					<h1>Nowy przepis</h1>
      </header>
        <!-- Inquiry Modal -->
     
      {% if user.is_authenticated %}
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inquiryModalLabel">Napisz przepis</h5>
        </div>
        <div class="modal-body">
          <form action="{% url 'add_products_to_recipe' %}" method="POST">
              {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
                <input type="hidden" name="recipe_id" value="{{ recipe_id }}">
                <div class="form-group">
                    <label for="name" class="col-form-label">Nazwa: </label>
                    <input type="text" name="name" class="form-control"  value="{{ name }}">
                </div>
                <div class="form-group">
                    <label for="category" class="col-form-label">Kategoria: </label>
                    <input type="text" name="category" class="form-control"  value="{{ category }}">
                </div>
                <div class="form-group">
                    <label for="author" class="col-form-label">Autor: </label>
                    <input type="text" name="author" class="form-control"  value="{{ user.username }}">
                </div>
                <div class="form-group">
                    <label for="description" class="col-form-label">Przepis: </label>
                    <textarea rows="10" type="text" name="description" class="form-control" >{{ description }}</textarea>
                </div>
                <p>
                        <u><a href="{% url 'legend' %}" 
                            onclick="window.open('{% url 'legend' %}', 
                                                    'newwindow', 
                                                    'width=300,height=900'); 
                                    return false;"
                            
                            >Legenda indeksów</a></u><br/>
                </p>
                <br/>
                {% if part_2 %}
                    {% for content in part_2 %}
                        <div class="form-group">
                            <label for="product_id" class="col-form-label"></label>
                            <input type="hidden" name="product_id" class="form-control" value="{{ content.product_id }}">
                        </div>                 
                        <div class="form-group">
                            <label for="ingredient" class="col-form-label"></label>
                            <input type="hidden" name="ingredient" class="form-control" value="{{ content.ingredient }}">
                        </div>
                        
                        <div class="form-group">
                        
                        <p class="text-left">
                            Składnik: <u>{{ content.product.product }}</u> - {{ content.ingredient }} gramów,
                        </p>
                        </div>


                            
                    {% endfor %}
                {% endif %}    

                                <div class="col-md-6 mb-3">
                                    <label for="product_id" class="col-form-label">Produkt:</label>
                                    <!-- <input type="number" name="product_id" class="form-control"> -->
                                    <select required name="product_id" class="form-control">
                                        <option value="" selected disabled>Składnik</option>
                                        {% if product_name %}
                                            {% for product in product_name %}
                                            <option value="{{ product.id }}" selected>
                                                {{ product.product }}
                                            </option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>                 
                                <div class="col-md-3 mb-3">
                                    <label for="ingredient" class="col-form-label">Ilość w gramach: </label>
                                    <input type="number" name="ingredient" class="form-control">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <input type="submit" value="Dodaj składnik" class="btn btn-secondary btn-sm">
                                </div>

                <hr><br/>
                <input type="submit" value="Wyślij" class="btn btn-block btn-secondary"
                formaction="{% url 'add_recipe_finish' %}">
                

                
            </form>  
            </div>
            </div> 
                 

        {% else %}
        <h2>Funkcja dostępna wyłącznie dla zalogowanych użytkowników</h2>
        {% endif %}
      </section>
      
  </main>
  
  
  
{% endblock %}

