#header {
    background-color: #91a33b;
}

body {
    background-color: rgb(227, 251, 145);
}

.module h2, .module caption, .inline-group h2 {
    background-color: #91a33b;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: #91a33b;
}