html {
    height: 100%;
}

body {
    background-color: rgb(155, 238, 141);
    font-size: 15px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 4rem;
    height: 100%;
}

h1 {
    font-size: 36px;
    font-weight: 400;
    color: #91a33b;
    margin: 20px;
}

#header_index {
    color: #91a33b;
    margin-left: 30px;
    margin-top: 70px;
    font-size: 50px;
}

header p {
    color: red;

}

.home {
    text-align: center;
}

.bg-jumpers
/* przypisujemy to jako tło navbaru i zastępuje nam wcześniejsze bg-primary */

{
    background-color: #91a33b !important;
}

.recipe {
    color: #91a33b;
    font-size: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

.display-4 {
    font-size: 36px;
    font-weight: 400;
    color: #91a33b;
    margin: 20px;
}

footer {
    background-color: #30caa0;
    color: black;
    text-align: center;
    width:100%;
  }

